.location-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  border-bottom: 1px solid #000;
  min-width: 200px;
  min-height: 55px;
  box-sizing: border-box;
  cursor: pointer;
  button {
    cursor: pointer;
  }
  &:hover {
    background-color: rgb(244, 245, 247);
  }
  .country-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .confirmed-patient-count {
    color: #696969;
  }
  .recovered-patient-count {
    color: #8ACA2B;
  }
  .death-count {
    color: #696969;
    font-weight: 700;
  }
}

.location-card__content {
  font-size: 14px;
}

.location-flag {
  max-width: 32px;
  margin-right: 10px;
}

.location-card__country {
  display: flex;
  align-items: center;
}
